<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>49Days</title>
    <link rel="icon" href="static/img/icons/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/gijgo.min.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <%- include('partical/header'); %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Về Chúng Tôi</h2>
                            <p>Trang Chủ <span class="ti-angle-double-right"></span>Về Chúng Tôi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- about part start-->
    <section class="about_part single_about_padding">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-6">
                    <div class="about_img ">
                        <img src="static/img/icons/about_us_1.png" class="about_img_1" alt="">
                        <img src="static/img/banners/slider-img-01.jpg" class="about_img_2" alt="">
                        <img src="static/img/banners/slider-img-02.jpg" class="about_img_3" alt="">
                    </div>
                </div>
                <div class="col-md-7 offset-md-1 col-lg-3 offset-lg-1">
                    <div class="about_text">
                        <h5>Về Chúng Tôi</h5>
                        <h2>Phong cách</h2>
                        <p>Với hơn 25 năm kinh nghiệm, **49Days** tự hào mang đến những phong cách tóc đẳng cấp, kết hợp giữa kỹ thuật chuyên nghiệp và sự sáng tạo.
                            Đội ngũ của chúng tôi không ngừng học hỏi, cập nhật xu hướng mới nhất để mang đến những kiểu tóc thời thượng và độc đáo.
                        </p>
                        <p>Mỗi nhà tạo mẫu tại **49Days** đều có phong cách riêng nhưng cùng chung một sứ mệnh: giúp khách hàng tìm được kiểu tóc phù hợp nhất.
                            Đến với chúng tôi, bạn sẽ được trải nghiệm dịch vụ tận tâm, chuyên nghiệp và đẳng cấp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--:: about part end ::-->

    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
    </section>
    <!--::review_part end::-->
    <%- include('partical/footer'); %>
    <!-- jquery plugins here-->
    
    <script src="public/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="public/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="public/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="public/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="public/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="public/js/slick.min.js"></script>
    <script src="public/js/gijgo.min.js"></script>
    <script src="public/js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="public/js/jquery.ajaxchimp.min.js"></script>
    <script src="public/js/jquery.form.js"></script>
    <script src="public/js/jquery.validate.min.js"></script>
    <script src="public/js/mail-script.js"></script>
    <script src="public/js/contact.js"></script>
    <!-- custom js -->
    <script src="public/js/custom.js"></script>
</body>

</html>