<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>49Days</title>
    <link rel="icon" href="static/img/icons/favicon.png">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <%- include('partical/header'); %>
        <!-- breadcrumb start-->
        <section class="breadcrumb breadcrumb_bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner text-center">
                            <div class="breadcrumb_iner_item">
                                <h2>Chi Tiết Dịch Vụ</h2>
                                <p>Trang Chủ <span class="ti-angle-double-right"></span>Chi Tiết Dịch Vụ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end-->

        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
                margin: 0;
                /* padding: 20px; */
            }

            .container {
                max-width: 1200px;
                margin: auto;
                text-align: center;
            }

            h1 {
                margin-bottom: 20px;
            }

            .services {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
            }

            .service {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: transform 0.3s;
            }

            .service:hover {
                transform: scale(1.05);
            }

            .service img {
                width: 50px;
                height: 60px;
            }

            .service h2 {
                margin: 10px 0;
            }

            .book-now {
                margin-top: 30px;
                padding: 15px 30px;
                background-color: #f62a2a;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

            .book-now:hover {
                background-color: #f62a2a;
            }

            .active-filter-btn {
                background-color: var(--pink) !important;
                color: #fff !important;
                border-color: var(--pink) !important;
            }

            .filter-button-group .btn:hover {
                color: #fff !important;
            }


            .service-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                justify-content: center;
            }

            .service-item img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-bottom: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.3s ease;
            }

            .service-item img:hover {
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
            }

            .text-primary {
                color: red;
            }

            .service-title {
                text-align: center;
            }
        </style>

        <div class="container-fluid my-5">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="static/img/icons/section_tittle_icon.png" alt="icon">
                        <h2>DỊCH VỤ LÀM TÓC</h2>
                        <p>Định hình phong cách – Tiện lợi, đẳng cấp, thư giãn tuyệt đối!</p>
                    </div>
                </div>
            </div>
            <!-- Phần dịch vụ Cắt tóc -->
            <div class="container text-left my-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Cắt Tóc</h1>
                    <div>
                        <h5>120.000 VNĐ</h5>
                        <h5>Thời gian: 30 phút</h5>
                    </div>
                </div>
                <div class="row cattoc-row">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/tuvantoc.jpg" alt="">
                            <p class="service-title">Tư vấn kiểu tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/goidau.jpg" alt="">
                            <p class="service-title">Gội đầu & massage da đầu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/taokieu.jpg" alt="">
                            <p class="service-title">Cắt tạo kiểu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/tiatoc.png" alt="">
                            <p class="service-title">Tỉa & chỉnh sửa</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/caomat.png" alt="">
                            <p class="service-title">Cạo mặt & làm sạch vùng cổ</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/saytoc.jpg" alt="">
                            <p class="service-title">Sấy tóc & tạo kiểu tạm thời</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/duongtoc.jpg" alt="">
                            <p class="service-title">Dưỡng tóc & da đầu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/xittoc.jpg" alt="">
                            <p class="service-title">Xịt giữ nếp & hoàn thiện</p>
                        </div>
                    </div>
                </div>
                <!-- Nút đặt lịch -->
                <div class="text-center">
                    <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
                </div>
            </div>

            <!-- Phần dịch vụ Uốn tóc -->
            <div class="container text-left my-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Uốn Tóc</h1>
                    <div>
                        <h5>180.000 VNĐ</h5>
                        <h5>Thời gian: 45 phút</h5>
                    </div>
                </div>
                <div class="row uontoc-row">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/tuvantoc.jpg" alt="">
                            <p class="service-title">Tư vấn kiểu tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/goidau.jpg" alt="">
                            <p class="service-title">Gội đầu & làm sạch tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/taokieu.jpg" alt="">
                            <p class="service-title">Cắt tạo kiểu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/service/uontoc_service.png" alt="">
                            <p class="service-title">Thoa thuốc uốn lần 1</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/uontoc_service/xulynhiet.png" alt="">
                            <p class="service-title">Quấn lô & xử lý nhiệt</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/service/uontoc_service.png" alt="">
                            <p class="service-title">Thoa thuốc uốn lần 2</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/uontoc_service/xasach.jpg" alt="">
                            <p class="service-title">Xả sạch & dưỡng tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/saytoc.jpg" alt="">
                            <p class="service-title">Sấy & tạo kiểu hoàn thiện</p>
                        </div>
                    </div>
                </div>
                <!-- Nút đặt lịch -->
                <div class="text-center">
                    <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
                </div>
            </div>

            <!-- Phần dịch vụ Nhuộm tóc -->
            <div class="container text-left my-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>Nhuộm Tóc</h1>
                    <div>
                        <h5>150.000 VNĐ</h5>
                        <h5>Thời gian: 60 phút</h5>
                    </div>
                </div>
                <div class="row nhuomtoc-row">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/nhuomtoc_service/mautoc.png" alt="">
                            <p class="service-title">Tư vấn màu tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/nhuomtoc_service/kiemtratoc.jpg" alt="">
                            <p class="service-title">Kiểm tra tình trạng tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/goidau.jpg" alt="">
                            <p class="service-title">Gội & làm sạch tóc</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/service/uontoc_service.png" alt="">
                            <p class="service-title">Bảo vệ tóc & da đầu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/nhuomtoc_service/nhuomtoc.jpg" alt="">
                            <p class="service-title">Pha màu & tiến hành nhuộm</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/nhuomtoc_service/umau.jpg" alt="">
                            <p class="service-title">Ủ màu & chờ lên màu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/uontoc_service/xasach.jpg" alt="">
                            <p class="service-title">Xả tóc & dưỡng sau nhuộm</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="service-item">
                            <img src="static/img/cattoc_service/saytoc.jpg" alt="">
                            <p class="service-title">Sấy tạo kiểu & hoàn thiện</p>
                        </div>
                    </div>
                </div>
                <!-- Nút đặt lịch -->
                <div class="text-center">
                    <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
                </div>
            </div>
        </div>

        <!--::review_part start::-->
        <section class="review_part gray_bg section_padding">
        </section>


        <!--::footer part start::-->
        <%- include('partical/footer'); %>
            <!--::footer part end::-->

            <!-- jquery plugins here-->
            <script src="public/js/jquery-1.12.1.min.js"></script>
            <script src="public/js/bootstrap.min.js"></script>
            <script src="public/js/custom.js"></script>
</body>

</html>