<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_1">
                    <h4>Trải Nghiệm Sự Khác Biệt</h4>
                    <p>Chúng tôi tin rằng một kiểu tóc đẹp không chỉ là ngoại hình, mà còn thể hiện cá tính. Đến với 49Days, bạn sẽ luôn được chăm sóc tận tình và chuyên nghiệp.
                    </p> 
                    <p class="mt-3">Cùng nhau tạo nên phong cách riêng biệt và đẳng cấp.</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_2">
                    <h4>Thông tin liên lạc</h4>
                    <div class="contact_info">
                        <span class="ti-home"></span>
                        <h5>Thủ Đức, Tp.HCM</h5>
                        <p>Hutech E1,Khu Công Nghệ Cao,Tp.Thủ Đức-Tp.HCM</p>
                    </div>
                    <div class="contact_info">
                        <span class="ti-headphone-alt"></span>
                        <h5>012.3456.7890</h5>
                        <p>Thứ Hai - Chủ Nhật . 8am - 9pm</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-8 col-lg-4">
                <div class="single-footer-widget footer_3">
                    <h4>TÂM TƯ</h4>
                    <h5>Bạn có phản hồi gì không?</h5>
                    <input type="text" placeholder="Đăng ký Email để phản hồi nào">
                    <button class="subscribe-btn">Đăng ký mail</button>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="footer-text m-0">
                        Project được thực hiện bởi nhóm 12 - 21DTHD6 - 49Days_Barbershop(2025)
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .subscribe-btn {
        background: rgb(255, 101, 101);
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 24px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        /*box-shadow: 0px 4px 10px rgba(255, 101, 101, 0.5); */
        margin-top: 10px;
    }  
</style>

